<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Error</title>
  <link href="./static/css/output.css" rel="stylesheet">
</head>

<body class="min-h-screen flex justify-center items-center">
    <div>
      <div class="m-10 border-2 border-blue-600 text-center px-8 py-12 rounded-lg shadow-lg max-w-md">
      <h1 class="text-blue-600 text-4xl font-bold mb-8">Well this was unexpected!</h1>
      <p class="text-gray-700 text-xl">Seems like there's a little bug somewhere in my website</p>
      <p class="text-gray-700 mt-4 text-l">But hey, this is my website, so I can to take it down to fix it...</p>
      <p class="text-gray-700 mt-4 text-sm">Hopefully the site should be back up soon, sorry for any inconvenience.<p>
      </div>

      <div class="m-10 flex border-2 border-blue-600 text-center p-2 rounded-lg shadow-lg max-w-md">
      <img src="./static/on-it.gif">
      </div>
    </div>

</body>
</html>